@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    background-color: #fefae0;
    display: flex;
    flex-direction: column;
}

html {
    color-scheme: dark light;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

button:hover {
    background-color: #743c6836;
}

footer {
    color: #743c68;
    text-align: center;
    margin-top: 1rem;
    padding: 0.75rem;
    border-top: 1px solid #743c683d;
    font-family: 'Heebo', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #743c683d;
    background-color: #fefae0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.about {
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
    color: #743c68;
}

.about p {
    margin: 5% 0;
}

.dropdown {
    display: none;
}

.mission {
    font-size: 2rem;
    font-weight: 700;
}

.dd-bar {
    background-color: #743c68;
    margin-top: 0.25rem;
    margin-right: 1rem;
    width: 25px;
    height: 3px;
    border-radius: 5px;
}


.home {
    display: flex;
    justify-content: center;
    margin: 10% auto;
    width: 60%;
}

.home-img {
    width: 80%;
    margin: 0;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.2rem;
    color: #743c68;
    margin-left: 1rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    transition: all 0.5s ease-in;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-family: 'Heebo', sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    color: #743c68;
}

@media screen and (max-width: 700px) {
    .about {
        padding: 1.3rem;
        font-size: 0.95rem;
    }

    .nav-links {
        display: block;
        position: absolute;
        overflow-x: hidden;
        top: 70px;
        width: 100%;
        height: 100vh;
        left: -100%;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }

    .nav-links li {
        margin-top: 30px;
    }

    .nav-links li a {
        font-size: 1.5rem;
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .home {
        flex-direction: column;
        margin: 40px 0 0 0;
        width: 100%;
    }

    .dropdown {
        display: block;
    }

    .home-contact-btn {
        background-color: #743c68;
        margin-bottom: 15px;
        padding: 0.75rem 2rem;
        border: none;
        border-radius: 10px;
        color: #fefae0;
        font-family: 'Heebo', sans-serif;
    }

    .home-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .mission {
        font-size: 1.4rem;
    }

    .main-nav-li {
        margin: 0;
    }

    .active {
        display: block;
        position: fixed;
        width: 100%;
        height: 90vh;
        background-color: #fefae0;
        top: 70px;
        left: 0%;
        text-align: center;
    }
}
